.logo {
    background-color: linear gradient(97deg, #ff7a6e,#ff9770);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2) ;
}

.container {
    background-color: linear gradient(99deg, #ff70a6,#ff9770 40%, #ffd670 73%, #e9ff70);
}